module.exports = {
  GOOGLE_API_KEY: "KEY",

  ANALYSIS_MODEL: "gemini-3.1-flash-lite-preview",

  GENERATIVE_MODEL: "gemini-3.1-flash-image-preview",
  // GENERATIVE_MODEL: "gemini-3-pro-image-preview",
};
